.vehicle-holder-cost-report-summary, .vehicle-holder-costs-summary {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    margin-bottom: 10px;
    font-weight: 600;
    align-items: center;
}

.vehicle-holder-cost-report-summary b, .vehicle-holder-costs-summary b {
    transition: opacity .5s;
}

.vehicle-holder-cost-report-summary b.summary-updated, .vehicle-holder-costs-summary b.summary-updated {
    opacity: .35;
}

jdp-container {
    z-index: 999999 !important;
}

.frappe-control .link-btn {
    display: none !important;
}
