/* Datatable Summary  */
.vehicle-holder-cost-report-summary,
.vehicle-holder-costs-summary {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    margin-bottom: 10px;
    font-weight: 600;
    align-items: center;
}
.vehicle-holder-cost-report-summary b,
.vehicle-holder-costs-summary b,
.vehicle-holder-cost-report-summary span,
.vehicle-holder-costs-summary span {
    transition: opacity .5s;
}
.vehicle-holder-cost-report-summary b.summary-updated,
.vehicle-holder-costs-summary b.summary-updated,
.vehicle-holder-cost-report-summary span.summary-updated,
.vehicle-holder-costs-summary span.summary-updated {
    opacity: .35;
}


/* Jalali DAtePicker */
jdp-container {
    z-index: 999999 !important;
}
.frappe-control .link-btn {
    display: none !important;
}

/* Loading */
.vehicle-import-spinner {
    animation: vehicle-import-spin 1s linear infinite;
}
@keyframes vehicle-import-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/* Execel Browser Style */
/* body:not(.full-width) .excel-browser-container {
    max-width: var(--page-max-width);
} */
.excel-browser-container {
    margin: 15px;
}
.excel-browser-excel-wrapper {
    border: solid 1px silver;
    max-height: 73vh;
    overflow: hidden;
}


.btn-delete-cost-entry {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    color: var(--red-500);
    cursor: pointer;
}
.btn-delete-cost-entry svg {
    stroke: currentColor;
}